
<div class="container mt-5">
    <div class="row">
    
        <div class="col-sm-4">
    <div class="card">
        <img class="card-img-top img-thumbnail" src="{{user?.profilePicture[0].photoUrl}}" alt="{{user?.firstname}}">
        <div class="card-body">
    
           <div class="">
               <strong>Username:</strong>
               <p>{{user?.username}}</p>
           </div>
    
           <div class="">
            <strong>Firstname:</strong>
            <p>{{user?.firstname}}</p> 
        </div>
    
        <div class="">
            <strong>Lastname:</strong>
            <p>{{user?.lastname}}</p> 
        </div>
    
        <div class="">
            <strong>Email:</strong>
            <p>{{user?.email}}</p> 
        </div>
    
        <div class="">
            <strong>University:</strong>
            <p>{{user?.university}}</p> 
        </div>
        
        </div>
    </div>
        </div>
    
        <div class="col-sm-8">
            
            <div *ngIf="userEditForm.dirty" class="alert alert-warning">
                <strong>Information:</strong>You have made changes any unsaved changes will be lost
            </div>

    <div class="tab-panel">
        <tabset>
            <tab heading="Edit Profile" id="tab1">
              
                <form #userEditForm="ngForm" (ngSubmit)="updateUser()" >
                    <div class="card border-primary rounded-0">
                        <div class="card-header p-0">
                            <div class="bg-light text-info text-center py-2">
                                <h3> Edit profile</h3>
                                
                            </div>
                        </div>
                        <div class="card-body p-3">

                            <!--Body-->
                            <div class="form-group">
                                <label for="">Username</label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user text-info"></i> </div>
                                    </div>
                                    <input type="text" class="form-control"  name="username" [(ngModel)]="user.username"  required>
                                </div>
                            </div>
                            
                             <label for="">Firstname</label>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user text-info"></i> </div>
                                    </div>
                                    <input type="text" class="form-control"  name="firstname" [(ngModel)]="user.firstname" required>
                                </div>
                            </div>
                              
                            <label for="">Lastname</label>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user text-info"></i> </div>
                                    </div>
                                    <input type="text" class="form-control"  name="lastname" [(ngModel)]="user.lastname" required>
                                </div>
                            </div>
                             
                            <label for="">Email</label>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                                    </div>
                                    <input type="email" class="form-control" name="email" [(ngModel)]="user.email"  required>
                                </div>
                            </div>
                               
                            <label for="">University</label>
                            <div class="form-group">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-user text-info"></i> </div>
                                    </div>
                                    <input type="text" class="form-control" name="university" [(ngModel)]="user.university" required>
                                </div>
                            </div>

                          

                            <div class="text-center">
                                <button [disabled]="!userEditForm.dirty" type="submit" class="btn  btn-success rounded-0 py-2">Save changes</button>
                            </div>
                        </div>

                    </div>
                </form>
    
            </tab>

            <tab heading="Edit Pictures" id="tab1">
                      
                <div class="row">
                    <div class="col-sm-2" *ngFor="let slika of user.profilePicture" >
                        <img src="{{slika.photoUrl}}" class="img-thumbnail p-2" alt="">
                        <div class="text-center">
                            <button type="button" class="btn btn-sm">Main</button>
                            <button type="button" class="btn btn-info"> <i class="fa fa-trash-o"></i> </button>
                        
                        </div>
                            </div>
                       
                </div>
                
                 
  
            </tab>
            
          </tabset>
    </div>
        </div>
    
    </div>
    </div>